*{
  text-align: center;
  font-family: Helvetica;
}

a {
  color: white;
}

p {
  font-size: 14px;
}

#header {
  font-size: 70px;
  font-weight: bold;
}

.nav {
  font-size: 18px;
}

#about {
  font-size: 32px;
  font-weight: bold;
}

.process h3, #banner {
  font-size: 23px;
  font-weight: bold;
}

#home,#banner {
  color: white;
  background-image: url(../building.png);
  background-size: 100%;
}

#copyright {
  color: white;
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
